<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<!-- 
  This file has been modified slightly from the version(s) included with OpenBD. The modifications are as follows:
    1. Normalized to work with all versions of the OpenBD engine from 1.1 onward.
    2. Uses Doctype dtd instead of xsd (for best behavior with winstone servlet engine)
    3. Rearranged some of the items so that it parses cleanly by winstone.
    4. Removed index.jsp from welcome-file-list (winstone .jsp support is turned off by default)
    5. Removed index.cfm from the welcome-file-list (it is handled using urlrewrite.xml)
    5. Normalized indention and spacing.
    6. Replaced SE friendly url filter with tuckey urlRewriteFilter for more flexibility.
-->

<web-app>
  
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.naryx.tagfusion.cfm.application.cfHttpSessionListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>cfmServlet</servlet-name>
    <servlet-class>com.naryx.tagfusion.cfm.cfServlet</servlet-class>
    <init-param>
      <param-name>BLUEDRAGON_WORKING_DIRECTORY</param-name>
      <param-value>/WEB-INF/bluedragon/work</param-value>
    </init-param>
    <init-param>
      <param-name>BLUEDRAGON_XML</param-name>
      <param-value>/WEB-INF/bluedragon/bluedragon.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>cfcServlet</servlet-name>
    <servlet-class>com.naryx.tagfusion.cfm.cfcServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>cfchartServlet</servlet-name>
    <servlet-class>com.naryx.tagfusion.cfm.cfchartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cfResourceServlet</servlet-name>
    <servlet-class>com.naryx.tagfusion.cfm.cfResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cfchartServlet</servlet-name>
    <url-pattern>*.cfchart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cfResourceServlet</servlet-name>
    <url-pattern>*.cfres</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
    <servlet-name>cfmServlet</servlet-name>
    <url-pattern>*.cfm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cfcServlet</servlet-name>
    <url-pattern>*.cfc</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <mime-mapping>
    <extension>jpeg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>swf</extension>
    <mime-type>application/x-shockwave-flash</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xml</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>htm</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jpg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>

  <welcome-file-list>
    <!-- index.cfm is handled by urlrewrite -->
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>

</web-app>